*{
    margin: 0;
    padding: 0;
    front-family; calibri;
    list-style: none;
    text-decoration; none;
}
img{
    max-width: 100% ;
}
header{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 40%;
    float: flex;
}
.logo img{
width: 25%;
}
nav{
    width: 60%;
    float: right;
}
nav a{
    color: #808080;
    text-transform: uppercase;
    display: inline;
    padding: 7px 15px;
    margin: 0 10px;
    transition: background-color 0.5s ease-in-out;
}
nav a:hover{
    color: #fff;
    background-color: #378982;
}
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom:40px:
}
.quem-somos{
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
    justify-content: center;
}
.quem-somos.titulo{
    font-family: "Roboto";
    font-size: 1.4em;
    color: #808080;
    margin-bottom: 50px;
    font-weight: 500;
}